---
---

<section class="hero">
    <div class="entrenamientos-top">
        <h2 class="titulo-sup">ENTRENAMIENTOS</h2>
    </div>
    <div class="logo">
        <img src="/eden-logo.svg" alt="Logo-eden" />
        <!-- <ImagenLogo  /> -->
    <!-- <h1>LOGO</h1> -->
    </div>
    <div class="entrenamientos-bottom">
        <h2 class="titulo-end">ENTRENAMIENTOS</h2>
    </div>
</section>

<style>

	.menu-hamb img {
		width: 30px;
		margin-right: 20px;
		/* background-color: #ddd; */
		cursor: pointer;
	}

	.hero {
		width: 100%;
		height: 100vh;

		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.entrenamientos-top {
		position: absolute;

		width: 200%;
		height: 50px;

		text-align: center;
		font-size: 10rem;

		text-transform: uppercase;
		opacity: 0.09;

		top: -70px;
		/* left: -100px; */
		/* left: 50%;
		transform: translateX(-50%); */

		z-index: -1;
		
	}

	.entrenamientos-bottom {
		position: absolute;

		width: 200%;
		height: 50px;

		text-align: center;
		font-size: 10rem;
		/* line-height: ; */
		text-transform: uppercase;
		opacity: 0.09;

		/* left: -100px; */
		bottom: 150px;

		z-index: -1;
		
	}

	.titulo-sup,
	.titulo-end {  
		line-height: 1;  
	}

	.logo {
		width: 30%;
		/* text-align: center;
		font-size: 5rem; */
	}

	@media (max-width: 768px) {
		.logo {
			width: 70%;
		}
		.entrenamientos-top {
			font-size: 5rem;
			top: -30px;
		}
		.entrenamientos-bottom {
			font-size: 5rem;
			bottom: 60px;
		}
	}
</style>


<script>
	import { gsap } from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';

	gsap.registerPlugin(ScrollTrigger);

	// document.addEventListener('DOMContentLoaded', () => {
		
		gsap.from('.logo', {
			opacity: 0.15,
			duration: 3,
		})

		gsap.from('.entrenamientos-top', {
			opacity: 1,
			x: -800,
			duration: 3,
		})

		gsap.from('.entrenamientos-bottom', {
			opacity: 1,
			x: 800,
			duration: 3,
		})

		let header = gsap.timeline({
			scrollTrigger: {
				trigger: '.hero',
				// markers: true,
				scrub: 8,
				pin: true,
				end: 'bottom top',
				pinSpacing: false
				
			}
		})

		header.to('.logo', {
			scale: 0.5,
		})



	
	// })
</script> 