---
const { href = '#' } = Astro.props
---
<div class="content-button">
    <a href={href}>
        <slot />
    </a>

</div>

<style>
    .content-button {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    a {
        width: 100%;
        color: #f7f7f7;
        text-decoration: none;
        text-wrap: balance;

        border: 3px solid #78866b;
        border-radius: 5px;

        padding: 10px 15px;
        margin: 5px;
    }

    a:hover {
        color: #000;
        text-decoration: none;

       
        background-color: lightgray;
    }

    @media (max-width: 768px) {
        .content-button {
            width: 100%;
		}
	}
</style>