---
import SectionTitle from "../Section-Title/Section-Title.astro"
import CategoryButton from "./CategoryButton.astro"

const entrenamientos = [
	{id: 1, name: 'Presenciales', description: 'Entrenamientos presenciales en el local Eden Terrassa'},
	{id: 2, name: 'Adán', description: 'Entrenamientos para niños y niñas de 6 a 12 años'},
	{id: 3, name: 'Maestros de niños', description: 'Entrenamientos para maestros de niños de 6 a 12 años'},
	{id: 4, name: 'Eecursos de Formación Infantil', description: 'Recursos de formación para maestros de niños de 6 a 12 años'},
	{id: 5, name: 'Equipos de alabanzas', description: 'Entrenamientos para equipos de alabanzas'},
	{id: 6, name: 'Finanzas', description: 'Entrenamientos para el área de finanzas'},
	{id: 7, name: 'Adolecentes', description: 'Entrenamientos para adolecentes de 13 a 17 años'},
	{id: 8, name: 'Liderazgo', description: 'Entrenamientos para líderes'},
]
---

<section class="sectionEntrenamientos">
	<SectionTitle>
		Entrenamientos
	</SectionTitle>
	<div class="entrenamientos-category-content">
		{ entrenamientos.map(entrenamiento => (
			<CategoryButton>
				{entrenamiento.name}
			</CategoryButton>
		))}		
	</div>
</section>

<style>
	.sectionEntrenamientos {
		width: 100%;
		height: 100vh;

		padding: 100px 25px 20px 25px;

		/* color: #f7f7f7; */
		background-color: #333;
		position: relative;

	}



	.entrenamientos-category-content {
		width: 100%;
		height: 90%;

		/* padding: 0 5%;  */
		/* border: 4px solid #78866b;
		border-radius: 10px; */

		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		align-items: center;
	}
</style>


<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'

	gsap.registerPlugin(ScrollTrigger)

	let categories = gsap.timeline({
			scrollTrigger: {
				trigger: '.sectionEntrenamientos',
				// markers: true,
				scrub: 10,
				pin: true,
				end: 'bottom top',
				pinSpacing: false,
			}
		})


</script>