---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import Hero from '../components/SectionHero/SectionHero.astro';
import CategoryEntrenamientoSection from '../components/CategoryEntrenamientosSection/CategoryEntrenamientosSection.astro'
---
<Layout title="Welcome to Astro.">	
	<main>
		<Navbar />
		<Hero />
		<CategoryEntrenamientoSection />
		<!-- <Footer /> -->
	</main>
</Layout>

<style>
	main {
		/* padding: 1rem; */
		position: relative;
	}
	

	
</style>

