---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import Hero from '../components/SectionHero/SectionHero.astro';
import CategoryEntrenamientoSection from '../components/CategoryEntrenamientosSection/CategoryEntrenamientosSection.astro'
import EventosSection from '../components/EventosSection/EventosSection.astro'
import SpotifySection from '../components/SpotifySection/SpotifySection.astro'
import YoutubeSection from '../components/YoutubeSection/YoutubeSection.astro'
import Footer from '../components/Footer/Footer.astro'
---
<Layout title="Welcome to Astro.">	
	<Navbar />
	<main>
		<Hero />
		<CategoryEntrenamientoSection />
		<EventosSection />
		<SpotifySection />
		<YoutubeSection />
	</main>
	<Footer />
</Layout>

<style>
	main {
		/* padding: 1rem; */
		position: relative;
	}
	

	
</style>

